* {
  font-family: "Shrikhand", sans-serif;
  font-family: "Roboto";
}

/* var colors */
/* end var colors */
body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-header {
  padding: 13.5px 0;
}
.main-header .header-components {
  display: flex;
  justify-content: space-between;
  width: calc(50% + 81px);
}
.main-header .header-components .arrow-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  text-decoration: none;
}
.main-header .header-components .arrow-container .fa-arrow-left {
  font-size: 22px;
  color: #353535;
}
.main-header .header-components .logo-container {
  display: flex;
  align-items: center;
  width: 162px;
  height: 36px;
}
.main-header .header-components .logo-container .logo-image {
  width: 162px;
}

.resto-image {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 275px;
}

/* MENU block */
.menu-container {
  padding: 36px 13px 0 13px;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  margin-top: -55px;
}
.menu-container .resto-title-container {
  display: flex;
  justify-content: center;
}
.menu-container .resto-title-container .resto-name-like {
  width: 315px;
  display: flex;
  justify-content: space-between;
}
.menu-container .resto-title-container .resto-name-like .resto-name {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  margin: 0;
}
.menu-container .resto-title-container .resto-name-like .heart-container {
  display: flex;
  align-self: center;
}
.menu-container .resto-title-container .resto-name-like .heart-container .heart-trigger .fa-heart {
  font-size: 24px;
  cursor: pointer;
}
.menu-container .resto-title-container .resto-name-like .heart-container .heart-trigger .fa-regular.fa-heart {
  position: absolute;
}
.menu-container .resto-title-container .resto-name-like .heart-container .heart-trigger .fa-solid.fa-heart {
  background: linear-gradient(180deg, #9356DC -20%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  opacity: 0;
  transition: all 500ms ease-in;
}
.menu-container .resto-title-container .resto-name-like .heart-container .heart-trigger .fa-solid.fa-heart:hover {
  opacity: 1;
}
.menu-container .resto-title-container .resto-name-like .heart-container #like-heart {
  display: none;
}
.menu-container .segment-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}
.menu-container .segment-menu .segment-title-container {
  width: 100%;
  max-width: 349px;
  display: flex;
}
.menu-container .segment-menu .segment-title-container .segment-title {
  color: #000000;
  position: relative;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
  padding-top: 37px;
}
.menu-container .segment-menu .segment-title-container .segment-title::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  bottom: -9px;
  left: 0;
  background-color: #99E2D0;
}
.menu-container .segment-menu .segment-btn {
  cursor: pointer;
  overflow: hidden;
  justify-content: space-between;
  position: relative;
  display: flex;
  width: 100%;
  max-width: 349px;
  height: 70px;
  background: #FFFFFF;
  border: none;
  padding: 0;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.menu-container .segment-menu .segment-btn .dish-name-description {
  width: 280px;
  height: 70px;
  display: flex;
  justify-content: center;
  padding-left: 15px;
  flex-direction: column;
  gap: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: width 250ms ease-in;
}
.menu-container .segment-menu .segment-btn .dish-name-description .dish-name {
  width: 100%;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .segment-menu .segment-btn .dish-name-description .dish-description {
  max-width: 100%;
  text-align: left;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .segment-menu .segment-btn .dish-detail-container {
  height: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  width: 46px;
  margin: 0;
  transform: translateX(0);
  transition: transform 250ms ease-in;
}
.menu-container .segment-menu .segment-btn .dish-detail-container .dish-detail {
  margin: 0 5px 12px 0;
  font-size: 15px;
  font-weight: 700;
}
.menu-container .segment-menu .segment-btn .slider {
  right: 0;
  margin-right: -60px;
  position: absolute;
  width: 60px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  transition: transform 250ms ease-in;
}
.menu-container .segment-menu .segment-btn .slider .checkmark-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
}
.menu-container .segment-menu .segment-btn .slider .checkmark-circle .fa-solid {
  color: #99E2D0;
  font-size: 14px;
}
.menu-container .segment-menu .segment-btn:hover .slider {
  transform: translateX(-60px);
}
.menu-container .segment-menu .segment-btn:hover .dish-detail-container {
  transform: translateX(-60px);
}
.menu-container .segment-menu .segment-btn:hover .dish-name-description {
  width: 200px;
}
.menu-container .segment-menu .btn-one-hidden {
  animation: appearOne 2000ms ease forwards;
  animation-delay: 300ms;
}
.menu-container .segment-menu .btn-two-hidden {
  animation: appearTwo 1800ms ease forwards;
  animation-delay: 300ms;
}
.menu-container .segment-menu .btn-three-hidden {
  animation: appearThree 1600ms ease forwards;
  animation-delay: 300ms;
}
.menu-container .segment-menu .btn-four-hidden {
  animation: appearFour 1400ms ease forwards;
  animation-delay: 300ms;
}
@keyframes appearOne {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes appearTwo {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes appearThree {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes appearFour {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.menu-container .container-order-btn {
  display: flex;
  justify-content: center;
}
.menu-container .container-order-btn .order-btn {
  margin-top: 39px;
  margin-bottom: 39px;
  background: linear-gradient(180deg, #FF79DA -20%, #9356DC 100%);
  width: 186px;
  height: 50px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: opacity 800ms ease;
}
.menu-container .container-order-btn .order-btn:hover {
  opacity: 0.8;
}
.menu-container .container-order-btn .order-btn .order-btn-description {
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
}

/* end MENU block */
footer {
  background-color: #353535;
  padding: 20px 26px 26px 26px;
}
footer .footer-logo {
  display: flex;
  justify-content: start;
}
footer .footer-logo .footer-logo-image {
  filter: invert(100%);
  width: 100px;
  height: 18px;
  margin-bottom: 20px;
}
footer .footer-icon-description-text .footer-icon-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 7px;
}
footer .footer-icon-description-text .footer-icon-description .fa-utensils {
  margin-right: 10px;
  font-size: 14px;
  color: #FFFFFF;
}
footer .footer-icon-description-text .footer-icon-description .fa-handshake-angle {
  margin-right: 10px;
  font-size: 11px;
  color: #FFFFFF;
}
footer .footer-icon-description-text .footer-icon-description .footer-description {
  margin: 0;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400;
}
footer .footer-icon-description-text .footer-text-info .footer-text-description {
  margin: 0;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-container .main-header {
    padding: 0;
    width: 100%;
  }
  .main-container .main-header .header-components {
    padding: 30px 0;
    width: calc(50% + 58px);
  }
  .main-container .main-header .header-components .logo-container .logo-image {
    width: 200px;
    height: 34px;
  }
  .main-container .resto-image {
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    width: 100%;
    height: 383px;
  }
  .main-container .menu-container {
    margin-top: -45px;
    width: 73%;
    display: flex;
    flex-direction: column;
  }
  .main-container .menu-container .segment-title-container {
    max-width: 634px;
  }
  .main-container .menu-container .resto-name-like {
    padding: 0;
  }
  .main-container .menu-container .resto-name-like #like-heart:checked + .heart-trigger .fa-solid.fa-heart {
    opacity: 1;
  }
  .main-container .menu-container .segment-btn {
    max-width: 634px;
  }
  .main-container .menu-container .segment-btn:hover .dish-name-description {
    width: 280px;
  }
  .main-container footer {
    width: 100%;
    padding: 65px 0 30px 0;
    display: flex;
    flex-direction: row-reverse;
  }
  .main-container footer .footer-logo {
    width: 137px;
    margin-left: 90px;
    padding-right: 30px;
  }
  .main-container footer .footer-logo .footer-logo-image {
    margin: 0;
  }
  .main-container footer .footer-icon-description-text {
    display: flex;
  }
  .main-container footer .footer-icon-description-text .footer-icon-description {
    margin: 0;
  }
  .main-container footer .footer-icon-description-text .footer-icon-description .footer-description {
    margin: 0;
  }
  .main-container footer .footer-icon-description-text .footer-icon-description .fa-utensils,
  .main-container footer .footer-icon-description-text .footer-icon-description .fa-handshake-angle {
    margin: 0 10px;
  }
  .main-container footer .footer-icon-description-text .footer-text-info {
    padding-left: 40px;
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .main-container footer .footer-icon-description-text .footer-text-info .footer-text-description {
    margin: 0;
  }
}/*# sourceMappingURL=restaurants_styles.css.map */