// General
* {
    font-family: "Shrikhand", sans-serif;
    font-family: "Roboto";
} 

/* var colors */ 
    $one: #F3F3F3;
    $two: #99E2D0;
    $three: #008766;
    $four: #89C8FA;
    $five: #003A68;
    $six: #9356DC;
    $seven: #EAEAEA;
    $eight: #353535;
    $nine: #F6F6F6;
    $ten: #FFFFFF;
    $eleven: #FF79DA;
    $twelve: #7E7E7E;
    $thirteen: #000000;
/* end var colors */ 

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%; 
    display: flex;
    flex-direction: column;
}

// HEADER block
.main-header {
    padding: 13.5px 0;

    .header-components {
        display: flex;
        justify-content: space-between;
        width: calc(50% + 81px);

        .arrow-container {
            display: flex;
            align-items: center;
            padding-left: 20px;
            text-decoration: none;

            .fa-arrow-left {
                font-size: 22px;
                color: $eight;
            }
        }

        .logo-container {
            display: flex;
            align-items: center;
            width: 162px;
            height: 36px;

            .logo-image {
                width: 162px;
            }
        }
    }
}
// end HEADER block 

// IMAGE La palette du goût
.resto-image {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 275px;
}
// end IMAGE La palette du goût

//  MENU block 
.menu-container {
    padding: 36px 13px 0 13px;
    display: flex;
    flex-direction: column;
    background-color: $nine;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    margin-top: -55px;

    .resto-title-container {
        display: flex;
        justify-content: center;

        .resto-name-like {
            width: 315px;
            display: flex;
            justify-content: space-between;       
        
            .resto-name {
                font-family: "Shrikhand";
                font-weight: 400;
                font-size: 28px;
                line-height: 28px;
                margin: 0;
            }
            // heart/like 
            .heart-container {
                display: flex;
                align-self: center;

                .heart-trigger {
                    .fa-heart {
                        font-size: 24px;
                        cursor: pointer;
                    }

                    .fa-regular.fa-heart {  
                        position: absolute;
                    }

                    .fa-solid.fa-heart {
                        background: linear-gradient(180deg, $six -20%, $eleven 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        position: relative;
                        opacity: 0;
                        transition: all 500ms ease-in;
                    }

                    // progressive fill of heart on hover
                    .fa-solid.fa-heart:hover {
                        opacity: 1;
                    }
                    // end progressive fill of heart on hover
                }
                // hidden checkbox of heart on click for desktop version
                #like-heart {
                    display: none;
                }
                // end hidden checkbox of heart on click for desktop version
                
            }            
            // end heart/like
        }
    }

    // menu segment
    .segment-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 11px;

        .segment-title-container {
            width: 100%;
            max-width: 349px;
            display: flex;


            .segment-title {
                color: $thirteen; 
                position: relative;
                font-weight: 300;
                font-size: 16px;
                margin: 0;
                margin-bottom: 10px;
                padding-top: 37px;
            
                &::after {
                    content: "";
                    position: absolute;
                    width: 40px;
                    height: 3px; 
                    bottom: -9px;
                    left: 0;
                    background-color: $two; 
                }
            }
        }
        // buttons/menu
        .segment-btn {
            cursor: pointer;
            overflow: hidden;
            justify-content: space-between;
            position: relative;
            display: flex;
            width: 100%;
            max-width: 349px;
            height: 70px;
            background: $ten;
            border: none;
            padding: 0;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
            border-radius: 15px;

            .dish-name-description {
                width: 280px;
                height: 70px;
                display: flex;
                justify-content: center;
                padding-left: 15px;
                flex-direction: column;
                gap: 5px; 
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: width 250ms ease-in;
                
                .dish-name {
                    width: 100%;
                    text-align: left;           
                    font-size: 18px;
                    font-weight: 500;
                    margin: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .dish-description {
                    max-width: 100%;
                    text-align: left;                                   
                    font-size: 15px;
                    font-weight: 300;
                    margin: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            // dish price
            .dish-detail-container {  
                height: 70px;                                 
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: end;
                width: 46px;
                margin: 0;
                transform: translateX(0);
                transition: transform 250ms ease-in;

                .dish-detail {
                    margin: 0 5px 12px 0;
                    font-size: 15px;
                    font-weight: 700;
                }
            }
            // end // dish price

            // light green slider
            .slider {
                right: 0;
                margin-right: -60px;
                position: absolute;
                width: 60px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $two;
                border-radius: 0 15px 15px 0; 
                transition: transform 250ms ease-in;

                .checkmark-circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20px;
                    height: 20px;
                    background-color: $ten;
                    border-radius: 50%;

                    .fa-solid {
                        color: $two;
                        font-size: 14px;
                    }
                }
            }
            // end light green slider
        }

        // transition for green slider + price 
        .segment-btn:hover .slider {
            transform: translateX(-60px);
        }

        .segment-btn:hover .dish-detail-container {
            transform: translateX(-60px);
        }
        // end transition for green slider + price 

        // ellipsis transition
        .segment-btn:hover .dish-name-description {
            width: 200px;
        }
        // end ellipsis transition


        // progressive apparition animation for buttons 
        .btn-one-hidden {
            animation: appearOne 2000ms ease forwards;
            animation-delay: 300ms;
        }
        .btn-two-hidden {
            animation: appearTwo 1800ms ease forwards;
            animation-delay: 300ms;
        }
        .btn-three-hidden {
            animation: appearThree 1600ms ease forwards;
            animation-delay: 300ms;
        }
        // button extra for "La note enchantée" resto
        .btn-four-hidden {
            animation: appearFour 1400ms ease forwards;
            animation-delay: 300ms;
        }
        // end button extra for "La note enchantée" resto

        // end progressive apparition animation for buttons

        // keyframes for buttons animation
        @keyframes appearOne {
            from  {
            transform: scale(0.5);
            opacity: 0;
            }   
            to  {
            transform: scale(1);
            opacity: 1;
            }   
        }
        @keyframes appearTwo {
            from  {
            transform: scale(0.5);
            opacity: 0;
            }   
            to  {
            transform: scale(1);
            opacity: 1;
            }   
        }
        @keyframes appearThree {
            from  {
            transform: scale(0.5);
            opacity: 0;
            }   
            to  {
            transform: scale(1);
            opacity: 1;
            }   
        }
        @keyframes appearFour {
            from  {
            transform: scale(0.5);
            opacity: 0;
            }   
            to  {
            transform: scale(1);
            opacity: 1;
            }   
        }
        //end keyframes for buttons animation
        //end buttons/menu
    }
    // end menu segment
    
    // commander/order button
    .container-order-btn {
        display: flex;
        justify-content: center;
        
        .order-btn {
            margin-top: 39px;
            margin-bottom: 39px;
            background: linear-gradient(180deg, $eleven -20%, $six 100%);
            width: 186px;
            height: 50px;
            border: none;
            border-radius: 25px;
            cursor: pointer;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            transition: opacity 800ms ease;

            &:hover {
                opacity: 0.8;
            }

            .order-btn-description {
                font-weight: 500;
                text-decoration: none;
                font-size: 16px;
                color: $ten;
            }
        }
    }    
    // end commander/order button
}    
// end MENU block

// FOOTER block
footer {
    background-color: $eight;
    padding: 20px 26px 26px 26px;

    .footer-logo {
        display: flex;
        justify-content: start;

        .footer-logo-image {
            filter: invert(100%);
            width: 100px;
            height: 18px;
            margin-bottom: 20px;
        }
    }

    .footer-icon-description-text {

        .footer-icon-description {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 7px;

            .fa-utensils {
                margin-right: 10px;
                font-size: 14px;
                color: $ten;
            }

            .fa-handshake-angle {
                margin-right: 10px;
                font-size: 11px;
                color: $ten;
            }

            .footer-description {
                margin: 0;
                font-size: 16px;
                color: $ten;
                font-weight: 400;
            }
        }

        .footer-text-info {
            .footer-text-description {
                margin: 0;
                margin-top: 7px;
                margin-bottom: 7px;
                font-size: 16px;
                font-weight: 300;
                color: $ten;
            }
        } 
    }
}
// end FOOTER block

// tablet and desktop (equal or more than 768px)
@media (min-width: 768px) {

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        // HEADER block
        .main-header {
            padding: 0;
            width: 100%;

            .header-components {
                padding: 30px 0;
                width: calc(50% + 58px);

                .logo-container {
                    .logo-image {
                        width: 200px;
                        height: 34px;
                    }
                }
            }
        }
        // end HEADER block

        // image of restaurant
        .resto-image {
            object-fit: cover;
            display: block;
            width: 100%;
            height: 383px
        }
        // end image of restaurant

        // MENU block
        .menu-container {
            margin-top: -45px;
            width: 73%;
            display: flex;
            flex-direction: column;

            .segment-title-container {
                max-width: 634px;
            }

            .resto-name-like {
                padding: 0;

                // progressive fill of heart on click 
                #like-heart:checked + .heart-trigger .fa-solid.fa-heart {
                    opacity: 1;
                }
                // end progressive fill of heart on click
            }

            .segment-btn {
                max-width: 634px;   
            }

            .segment-btn:hover .dish-name-description {
                width: 280px;
            }
        }
        // end MENU block

        // FOOTER block
        footer {
            width: 100%;
            padding: 65px 0 30px 0; 
            display: flex;
            flex-direction: row-reverse;
            
            .footer-logo {
                width: 137px;
                margin-left: 90px;
                padding-right: 30px;

                .footer-logo-image {
                    margin: 0;
                }
            }

            .footer-icon-description-text {
                display: flex;

                .footer-icon-description {
                    margin: 0;

                    .footer-description {
                        margin: 0;
                    }

                    .fa-utensils,
                    .fa-handshake-angle {
                        margin: 0 10px;
                    }
                }

                .footer-text-info {
                    padding-left: 40px;
                    gap: 20px;
                    display: flex;
                    align-items: center;
                    flex-direction: row;

                    .footer-text-description {
                        margin: 0;
                    }
                }
            }
        }    
        // end FOOTER block
    }
}
// end tablet and desktop (equal or more than 768px)