// General
* {
    font-family: 'Shrikhand' sans-serif;
    font-family: 'Roboto';
} 
/* var colors */ 
    $one: #F3F3F3;
    $two: #99E2D0;
    $three: #008766;
    $four: #89C8FA;
    $five: #003A68;
    $six: #9356DC;
    $seven: #EAEAEA;
    $eight: #353535;
    $nine: #F6F6F6;
    $ten: #FFFFFF;
    $eleven: #FF79DA;
    $twelve: #7E7E7E;
    $thirteen: #000000;
/* end var colors */ 

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%; 
}

// HEADER block
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 63px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    .arrow-container {
        padding-left: 20px;
        text-decoration: none;

        .fa-arrow-left {
            font-size: 22px;
            color: $eight;
        }
    }

    .logo-container {
        width: 197px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: end;
        padding-right: 89px;

        .logo-image {
            width: 162px;
            height: 28.09px;
        }
    }
}
// end HEADER block 

// IMAGE La palette du goût
.resto-image {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 275px;
}
// end IMAGE La palette du goût

// MENU block
.menu-container {
    align-items: center;
    background-color: $nine;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    margin-top: -55px;
    position: relative;

    .resto-name-like {
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 349px;
        padding-top: 31px;
        padding-left: 20px;
        margin-bottom: -10px;

        .resto-name {
            font-family: "Shrikhand";
            font-weight: 400;
            font-size: 28px;
            margin: 0;
        }

        .fa-heart {
            padding-bottom: 10px;
            font-size: x-large;
            padding-right: 30px;
            padding-top: 5px;
        }
    }

    .segment-title {
        color: $thirteen; 
        position: relative;
        font-weight: 300;
        font-size: 16px;
        margin: 0;
        padding-left: 13px;
        padding-top: 40px;
        margin-bottom: 20px;
      
        &::after {
            content: "";
            position: absolute;
            width: 40px;
            height: 3px; 
            bottom: -9px;
            left: 13px;
            background-color: $two; 
            }
      }

    .segment-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 11px;
        
        .segment-btn {
            width: 349px;
            height: 70px;
            background-color: $ten;
            border-radius: 15px;
            border: none;
            display: flex;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
            justify-content: space-between;
            align-items: center;
            padding: 0;

            .dish-name-description {
                display: flex;
                align-items: start;
                padding-left: 15px;
                display: flex;
                flex-direction: column;
                gap: 5px;

                .dish-name {
                    font-size: 18px;
                    font-weight: 500;
                    margin: 0;
                }

                .dish-description {
                    font-size: 15px;
                    font-weight: 300;
                    margin: 0;
                }
            }

            .dish-detail {
                padding-top: 30px;
                padding-right: 15px;
                font-size: 15px;
                font-weight: 700;
                margin: 0
            }
        }
    }

    .order-btn {
        margin: 39px 94px 39px 94px;
        background: linear-gradient(180deg, $eleven -20%, $six 100%);
        width: 186px;
        height: 50px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        transition: opacity 800ms ease;

        &:hover {
            opacity: 0.8;
        }

        .order-btn-description {
            font-weight: 500;
            text-decoration: none;
            font-size: 16px;
            color: $ten;
        }
    }

}    
// end MENU block

//FOOTER block
footer {
    background-color: $eight;
    height: 134px;
    padding: 26px 0 26px 26px;

    .footer-logo {
        display: flex;
        justify-content: start;

        .footer-logo-image {
            filter: invert(100%);
            width: 100px;
            height: 18px;
            margin-bottom: 20px;
        }
    }

    .footer-icon-description {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 7px;

        .fa-utensils {
            margin-right: 10px;
            font-size: 14px;
            color: $ten;
        }

        .fa-handshake-angle {
            margin-right: 10px;
            font-size: 11px;
            color: $ten;
        }

        .footer-description {
            margin: 0;
            font-size: 16px;
            color: $ten;
            font-weight: 400;
        }
    }
    
    .footer-text-description {
        margin: 0;
        margin-top: 7px;
        margin-bottom: 7px;
        font-size: 16px;
        font-weight: 300;
        color: $ten;
    }
}
// end FOOTER block

// tablet and desktop (equal or more than 768px)
@media (min-width: 768px) {



}