* {
  font-family: "Shrikhand" sans-serif;
  font-family: "Roboto";
}

/* var colors */
/* end var colors */
body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.main-header .arrow-container {
  padding-left: 20px;
  text-decoration: none;
}
.main-header .arrow-container .fa-arrow-left {
  font-size: 22px;
  color: #353535;
}
.main-header .logo-container {
  width: 197px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-right: 89px;
}
.main-header .logo-container .logo-image {
  width: 162px;
  height: 28.09px;
}

.resto-image {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 275px;
}

.menu-container {
  align-items: center;
  background-color: #F6F6F6;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  margin-top: -55px;
  position: relative;
  /* commander button */
  /* end commander button */
}
.menu-container .resto-name-like {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 349px;
  padding-top: 31px;
  padding-left: 20px;
  margin-bottom: -10px;
  /* like heart */
  /* end like heart */
}
.menu-container .resto-name-like .resto-name {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
  margin: 0;
}
.menu-container .resto-name-like .heart-container {
  display: flex;
  align-self: center;
  padding-right: 30px;
}
.menu-container .resto-name-like .heart-container .heart-trigger .fa-heart {
  font-size: 24px;
  cursor: pointer;
}
.menu-container .resto-name-like .heart-container .heart-trigger .fa-regular.fa-heart {
  position: absolute;
}
.menu-container .resto-name-like .heart-container .heart-trigger .fa-solid.fa-heart {
  background: linear-gradient(180deg, #9356DC -20%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  opacity: 0;
  transition: all 500ms ease-in;
}
.menu-container .resto-name-like .heart-container #like-heart:checked ~ .heart-trigger .fa-solid.fa-heart {
  opacity: 1;
}
.menu-container .resto-name-like .heart-container #like-heart {
  display: none;
}
.menu-container .segment-title {
  color: #000000;
  position: relative;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding-left: 13px;
  padding-top: 40px;
  margin-bottom: 20px;
}
.menu-container .segment-title::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  bottom: -9px;
  left: 13px;
  background-color: #99E2D0;
}
.menu-container .segment-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  /* buttons menu */
}
.menu-container .segment-menu .segment-btn {
  width: 349px;
  height: 70px;
  background: none;
  border: none;
  padding: 0;
  overflow: hidden;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.menu-container .segment-menu .segment-btn .segment-btn-trigger {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.menu-container .segment-menu .segment-btn .segment-btn-trigger .dish-name-description {
  display: flex;
  align-items: start;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menu-container .segment-menu .segment-btn .segment-btn-trigger .dish-name-description .dish-name {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.menu-container .segment-menu .segment-btn .segment-btn-trigger .dish-name-description .dish-description {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-container .segment-menu .segment-btn .segment-btn-trigger .slider-price {
  margin-right: -61px;
  display: flex;
  width: 101px;
  height: 70px;
  transition: transform 250ms ease-in;
}
.menu-container .segment-menu .segment-btn .segment-btn-trigger .slider-price .dish-detail {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-right: 15px;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}
.menu-container .segment-menu .segment-btn .segment-btn-trigger .slider-price .slider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 60px;
  height: 70px;
  border-radius: 0 20% 20% 0;
}
.menu-container .segment-menu .segment-btn .segment-btn-trigger .slider-price .slider .checkmark-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
}
.menu-container .segment-menu .segment-btn .segment-btn-trigger .slider-price .slider .checkmark-circle .fa-solid {
  color: #99E2D0;
  font-size: 14px;
}
.menu-container .segment-menu .segment-btn #starter-one:checked ~ .segment-btn-trigger .slider-price,
.menu-container .segment-menu .segment-btn #starter-two:checked ~ .segment-btn-trigger .slider-price,
.menu-container .segment-menu .segment-btn #starter-three:checked ~ .segment-btn-trigger .slider-price,
.menu-container .segment-menu .segment-btn #starter-four:checked ~ .segment-btn-trigger .slider-price,
.menu-container .segment-menu .segment-btn #starter-five:checked ~ .segment-btn-trigger .slider-price,
.menu-container .segment-menu .segment-btn #starter-six:checked ~ .segment-btn-trigger .slider-price,
.menu-container .segment-menu .segment-btn #starter-seven:checked ~ .segment-btn-trigger .slider-price,
.menu-container .segment-menu .segment-btn #starter-eight:checked ~ .segment-btn-trigger .slider-price,
.menu-container .segment-menu .segment-btn #starter-nine:checked ~ .segment-btn-trigger .slider-price {
  transform: translateX(-60px);
}
.menu-container .segment-menu .segment-btn #starter-one,
.menu-container .segment-menu .segment-btn #starter-two,
.menu-container .segment-menu .segment-btn #starter-three,
.menu-container .segment-menu .segment-btn #starter-four,
.menu-container .segment-menu .segment-btn #starter-five,
.menu-container .segment-menu .segment-btn #starter-six,
.menu-container .segment-menu .segment-btn #starter-seven,
.menu-container .segment-menu .segment-btn #starter-eight,
.menu-container .segment-menu .segment-btn #starter-nine {
  display: none;
}
.menu-container .order-btn {
  margin: 39px 94px 39px 94px;
  background: linear-gradient(180deg, #FF79DA -20%, #9356DC 100%);
  width: 186px;
  height: 50px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: opacity 800ms ease;
}
.menu-container .order-btn:hover {
  opacity: 0.8;
}
.menu-container .order-btn .order-btn-description {
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
}

footer {
  background-color: #353535;
  height: 134px;
  padding: 26px 0 26px 26px;
}
footer .footer-logo {
  display: flex;
  justify-content: start;
}
footer .footer-logo .footer-logo-image {
  filter: invert(100%);
  width: 100px;
  height: 18px;
  margin-bottom: 20px;
}
footer .footer-icon-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 7px;
}
footer .footer-icon-description .fa-utensils {
  margin-right: 10px;
  font-size: 14px;
  color: #FFFFFF;
}
footer .footer-icon-description .fa-handshake-angle {
  margin-right: 10px;
  font-size: 11px;
  color: #FFFFFF;
}
footer .footer-icon-description .footer-description {
  margin: 0;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400;
}
footer .footer-text-description {
  margin: 0;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
}/*# sourceMappingURL=la_palette_du_gout.css.map */