// General
* {
    font-family: 'Shrikhand' sans-serif;
    font-family: 'Roboto';
} 

/* var colors */ 
    $one: #F3F3F3;
    $two: #99E2D0;
    $three: #008766;
    $four: #89C8FA;
    $five: #003A68;
    $six: #9356DC;
    $seven: #EAEAEA;
    $eight: #353535;
    $nine: #F6F6F6;
    $ten: #FFFFFF;
    $eleven: #FF79DA;
    $twelve: #7E7E7E;
    $thirteen: #000000;
/* end var colors */ 

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%; 
    display: flex;
    flex-direction: column;
}

// HEADER block
.main-header {
    padding: 13.5px 0;

    .header-components {
        display: flex;
        justify-content: space-between;
        width: calc(50% + 81px);

        .arrow-container {
            display: flex;
            align-items: center;
            padding-left: 20px;
            text-decoration: none;

            .fa-arrow-left {
                font-size: 22px;
                color: $eight;
            }
        }

        .logo-container {
            display: flex;
            align-items: center;
            width: 162px;
            height: 36px;

            .logo-image {
                width: 162px;
            }
        }
    }
}
// end HEADER block 

// IMAGE La palette du go没t
.resto-image {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 275px;
}
// end IMAGE La palette du go没t

// MENU block
.menu-container {
    padding: 36px 13px 0 13px;
    display: flex;
    flex-direction: column;
    background-color: $nine;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    margin-top: -55px;

    .resto-title-container {
        display: flex;
        justify-content: center;

        .resto-name-like {
            width: 315px;
            display: flex;
            justify-content: space-between;       
        
            .resto-name {
                font-family: "Shrikhand";
                font-weight: 400;
                font-size: 28px;
                line-height: 28px;
                margin: 0;
            }
            /* like heart */ 
            .heart-container {
                display: flex;
                align-self: center;

                .heart-trigger {
                    .fa-heart {
                        font-size: 24px;
                        cursor: pointer;
                    }

                    .fa-regular.fa-heart {
                        position: absolute;
                    }

                    .fa-solid.fa-heart {
                        background: linear-gradient(180deg, $six -20%, $eleven 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        position: relative;
                        opacity: 0;
                        transition: all 500ms ease-in;
                    }
                }

                #like-heart:checked + .heart-trigger .fa-solid.fa-heart {
                    opacity: 1;
                }

                #like-heart {
                    display: none;
                }
            }            
            /* end like heart */ 
        }
    }

    .segment-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 11px;

        .segment-title-container {
            width: 100%;
            max-width: 634px;
            display: flex;


            .segment-title {
                color: $thirteen; 
                position: relative;
                font-weight: 300;
                font-size: 16px;
                margin: 0;
                margin-bottom: 10px;
                padding-top: 37px;
            
                &::after {
                    content: "";
                    position: absolute;
                    width: 40px;
                    height: 3px; 
                    bottom: -9px;
                    left: 0;
                    background-color: $two; 
                }
            }
        }

        /* buttons menu */

        .segment-btn {
            position: relative;
            width: 100%;
            max-width: 634px;
            height: 70px;
            background: none;
            border: none;
            padding: 0;
            overflow: hidden;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
            border-radius: 15px;

            .segment-btn-trigger {  
                background-color: $ten; 
                display: flex;            
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
            
                .dish-name-description {
                    align-items: start;
                    padding-left: 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px; 
            
                    .dish-name {
                        font-size: 18px;
                        font-weight: 500;
                        margin: 0;
                    }
            
                    .dish-description {
                        font-size: 15px;
                        font-weight: 300;
                        margin: 0;
                    } 
                }
            
                .slider-price {
                    margin-right: -61px;
                    display: flex;
                    width: 116px;
                    height: 70px;
                    transition: transform 250ms ease-in;
            
                    .dish-detail {
                        display: flex;
                        align-items: center;
                        padding-top: 30px;
                        padding-right: 15px;
                        padding-left: 15px;
                        font-size: 15px;
                        font-weight: 700;
                        margin: 0;
                    }
            
                    .slider {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $two;
                        width: 60px;
                        height: 70px;
                        border-radius: 0 20% 20% 0;
            
                            .checkmark-circle {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 20px;
                            height: 20px;
                            background-color: $ten;
                            border-radius: 50%;
                    
                            .fa-solid {
                                color: $two;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            
            
            #starter-one:checked + .segment-btn-trigger .slider-price, 
            #starter-two:checked + .segment-btn-trigger .slider-price, 
            #starter-three:checked + .segment-btn-trigger .slider-price,
            #starter-four:checked + .segment-btn-trigger .slider-price,
            #starter-five:checked + .segment-btn-trigger .slider-price,
            #starter-six:checked + .segment-btn-trigger .slider-price,
            #starter-seven:checked + .segment-btn-trigger .slider-price,
            #starter-eight:checked + .segment-btn-trigger .slider-price,
            #starter-nine:checked + .segment-btn-trigger .slider-price {
                transform: translateX(-60px);
            }
            
            #starter-one, 
            #starter-two, 
            #starter-three,
            #starter-four,
            #starter-five,
            #starter-six,
            #starter-seven,
            #starter-eight,
            #starter-nine {
                display: none;
            }   
        }  
        
        // .segment-btn level
        .segment-btn.starter-one-hidden {
            animation: appearDishOne 1500ms ease forwards;
            animation-delay: 200ms;
        }
        @keyframes appearDishOne {
            from  {
            transform: translateX(100%);
            }   
            to  {
                transform: translateX(0);
            }   
        }


        .segment-btn.starter-two-hidden {
            animation: appearTwo 1000ms ease forwards;
            animation-delay: 200ms;
        }
        @keyframes appearTwo {
            from  {
            transform: translateX(70%);
            }   
            to  {
                transform: translateX(0);
            }   
        }


        .segment-btn.starter-three-hidden {
            animation: appearThree 500ms ease forwards;
            animation-delay: 200ms;
        }
        @keyframes appearThree {
            from  {
            transform: translateX(40%);
            }   
            to  {
                transform: translateX(0);
            }   
        }

        // .segment-btn level
    }

    

    /* commander button */
    .container-order-btn {
        display: flex;
        justify-content: center;
        
        .order-btn {
            margin-top: 39px;
            margin-bottom: 39px;
            background: linear-gradient(180deg, $eleven -20%, $six 100%);
            width: 186px;
            height: 50px;
            border: none;
            border-radius: 25px;
            cursor: pointer;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            transition: opacity 800ms ease;

            &:hover {
                opacity: 0.8;
            }

            .order-btn-description {
                font-weight: 500;
                text-decoration: none;
                font-size: 16px;
                color: $ten;
            }
        }
    }    
    /* end commander button */
}    
// end MENU block

//FOOTER block
footer {
    background-color: $eight;
    padding: 20px 26px 26px 26px;

    .footer-logo {
        display: flex;
        justify-content: start;

        .footer-logo-image {
            filter: invert(100%);
            width: 100px;
            height: 18px;
            margin-bottom: 20px;
        }
    }

    .footer-icon-description-text {

        .footer-icon-description {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 7px;

            .fa-utensils {
                margin-right: 10px;
                font-size: 14px;
                color: $ten;
            }

            .fa-handshake-angle {
                margin-right: 10px;
                font-size: 11px;
                color: $ten;
            }

            .footer-description {
                margin: 0;
                font-size: 16px;
                color: $ten;
                font-weight: 400;
            }
        }

        .footer-text-info {
            .footer-text-description {
                margin: 0;
                margin-top: 7px;
                margin-bottom: 7px;
                font-size: 16px;
                font-weight: 300;
                color: $ten;
            }
        } 
    }
}
// end FOOTER block

// tablet and desktop (equal or more than 768px)

@media (min-width: 768px) {

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        // HEADER block

        .main-header {
            padding: 0;
            width: 100%;

            .header-components {
                padding: 30px 0;
                width: calc(50% + 58px);
                .logo-container {
                    .logo-image {
                        width: 200px;
                        height: 34px;
                    }
                }
            }
        }

        // end HEADER block

        // IMAGE La palette du go没t

        .resto-image {
            object-fit: cover;
            display: block;
            width: 100%;
            height: 383px
        }

        // end IMAGE La palette du go没t

        // MENU block

        .menu-container {
            margin-top: -45px;
            width: 73%;
            display: flex;
            flex-direction: column;

            .resto-name-like {
                padding: 0;
            }
        }

        // end MENU block

        /* FOOTER block */

        footer {
            width: 100%;
            padding: 65px 30px 30px 0; 
            display: flex;
            flex-direction: row-reverse;
            
            .footer-logo {
                width: 137px;
                padding-left: 90px;

                .footer-logo-image {
                    margin: 0;
                }
            }

            .footer-icon-description-text {
                display: flex;

                .footer-icon-description {
                    margin: 0;

                    .footer-description {
                        margin: 0;
                    }

                    .fa-utensils,
                    .fa-handshake-angle {
                        margin: 0 10px;
                    }
                }

                .footer-text-info {
                    padding-left: 40px;
                    gap: 20px;
                    display: flex;
                    align-items: center;
                    flex-direction: row;

                    .footer-text-description {
                        margin: 0;
                    }
                }
            }
        }    
        /* end FOOTER block */
    }
}